ul.heroes{
    list-style-type: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul.heroes li{
    cursor:pointer;
    background-color: rgb(230, 230, 230);
    width: 200px;
    margin-bottom: 10px;
    color: #000;
    padding-top: 7px;
    padding-bottom: 9px;
    border-radius: 5px;

}

ul.heroes li:hover{
    margin-left: 15px;
    background-color:  rgb(207, 203, 203)
}

ul.heroes li.active{
    background-color: #bfcfe2;
    color: white
}

ul.heroes li span{
    font-size: small;
    background-color: rgb(72, 100, 112);
    color: white;
    padding: 10px;
    margin-right: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}