<h2>My Heroes</h2>
<div>
  <label for="">Hero name</label>
  <input type="text" #heroName />
  <button (click)="add(heroName.value); heroName.value=''">Save</button>
</div>
<br>

<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.active]="hero === selectedHero" routerLink="/detail/{{hero.id}}">
    <a>
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete a hero" (click)="delete(hero)">x</button>
  </li>
</ul>
<button type="button" (click)="goBack()">Go back</button>